/* Reset default styles */
html {
    height: 100%;
    font-size: 16px;
}

body {
    color: black;
    font-family: "Quicksand";
    background: rgba(216, 216, 216, 0.9) url("./mountains.png") no-repeat center center fixed;
    margin: 0;
    padding: 0;
}

/* Define custom font */
@font-face {
    font-family: "Quicksand";
    src: url(Quicksand-Regular.ttf);
}

/* Container Styles */
.top-container,
.bottom-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
}

/* About Styles */
#about-text,
#project-text
 {
    font-size: 50px;
}

#about-inner-text,
#project-inner-text {
    font-size: 25px;
    margin-top: 15px;
}

#contact {
    display: flex;
    align-items: center;
}

.button-container button {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

#contact ul {
    list-style: none; /* Remove the default list bullet points */
    padding: 0;
}

#contact li {
    display: inline-block;
    margin-right: 20px;
}

/* Project Styles */
.project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.Tasky a,
.GymMate a {
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
}