/* Reset default styles */
html {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    font-family: "Quicksand";
    background: rgba(209, 217, 221, 0.9) url("./big-sur.png") no-repeat center center fixed;
    background-size: cover;
}

/* Define custom font */
@font-face {
    font-family: "Quicksand";
    src: url(Quicksand-Regular.ttf);
}

/* Container Styles */
.top-container,
.bottom-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

/* About Styles */
#about-text,
#project-text {
    font-size: 50px;
}

#about-inner-text,
#project-inner-text {
    font-size: 25px;
    margin-top: 15px;
}

#project-inner-text {
    margin-bottom: 15px;
}

#contact {
    display: flex;
    align-items: center;
}

.button-container button {
    font-family: "Quicksand";
    color: black;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.8);
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    display: inline-block;
    margin-right: 20px;
}

/* Project Styles */
.project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project img {
    width: 200px;
    height: auto;
}

#Tasky a,
#GymMate a {
    text-align: center;
    color: antiquewhite;
}

#Tasky {
    margin-right: 20px; /* Adjust the value to your preference */
}

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#project-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#project-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project-buttons button {
    font-family: "Quicksand";
    color: black;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.8);
}


.JavaScript {
    display: flex;
    justify-content: space-between;
}

